<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Authentication Error</title>
</head>
<body>
    <hgroup class="bg-danger text-white">
        <h1>Error.</h1>
        <h2>Only Authenticated User are allowed to access this web page</h2>
        <h2>If you are a user please signin first!!!</h2>
    </hgroup>
    @Html.ActionLink("Sign From Here", "Index", "SignIn")
</body>
</html>
